.hero-unit__background-image {
  position: absolute;
  z-index: -1;   
  width: 100%;
  height: 100%;
  background-image: url("../images/sm.jpg");
  background-size: cover;
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}