 body {

	background-image: url("../images/sm.jpg");
	background-repeat: no-repeat;
 	background-size: cover;

}



*{
	font-family: 'Dancing Script', cursive;
}


i {
	position: left;
	margin: 0;
	padding-top: 10px;
	padding-right: 100px;
}










div {
	text-align: center;
}

video{
	padding-top: 50px;
	align-items: center;

	 width: 50%;
  height: 75%;
  filter:opacity(80%);
 
  }