body {

background-image: url("../images/background2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  }


}



/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: transparent;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

/*end of sticky navbar*/

/*grid start*/



.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  background-color: transparent;
  padding: 10px;
}

.grid-container > div {
  background-color: transparent;
  text-align: center;
  padding: 20px 0;
  
}

.item1 {
  grid-area: header;

}


.item2 {
  grid-area: right;
}

.item5{
  grid-area: main;

}
/*grid ends*/

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: none;
  color: black;
  text-align: center;
}

img {
  position: center;
}



