


body {

background-image: url("../images/sm.jpg");
	background-repeat: no-repeat;
 	background-size: cover;}

}

 	h1 {
	background-image: url("../images/sm.jpg");
	background-repeat: no-repeat;
 	background-size: cover;}

}

form {

	background-image: url("../images/sm.jpg");
	background-repeat: no-repeat;
 	background-size: cover;}
}



i {
	color: pink;
}


/*gmap setting*/

.gmap{
	width: 100%;
	height: 100%;
	opacity: .70;
}


